@font-face {
    font-family: "Prompt";
    src: url("../fonts/Prompt-Regular.eot");
    src: url("../fonts/Prompt-Regular.eot?#iefix") format('embedded-opentype'),
            url("../fonts/Prompt-Regular.ttf") format('truetype');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Regular.eot");
    src: url("../fonts/Comfortaa-Regular.eot?#iefix") format('embedded-opentype'),
            url("../fonts/Comfortaa-Regular.ttf") format('truetype');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Bold.eot");
    src: url("../fonts/Comfortaa-Bold.eot?#iefix") format('embedded-opentype'), 
         url("../fonts/Comfortaa-Bold.ttf") format('truetype');

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Qwigley";
    src: url("../fonts/Qwigley-Regular.eot");
    src: url("../fonts/Qwigley-Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Qwigley-Regular.ttf") format('truetype');

    font-weight: normal;
    font-style: normal;
}

.button.is-primary.is-outlined {
    border-color: #297B87 !important;
    color: #297B87 !important;
}

.button.is-primary.is-outlined.is-focused, .button.is-primary.is-outlined.is-hovered, .button.is-primary.is-outlined:focus, .button.is-primary.is-outlined:hover {
    background-color: #297B87 !important;
    color: white !important;
}

body {
    min-width: 555px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
}

h1 {
    font-family: Prompt;
    font-size: 36px;
    font-style: normal;
    color: #ff4447;

    text-transform: uppercase;
    padding-top: 30px;
}

h2 {
    font-family: Prompt;
    font-size: 34px;
    color: #313453;
}

h3 {
    font-family: Prompt;
    font-size: 19.5px;
    color: #313453;
}

h4 {
    font-family: Comfortaa;
    font-size: 15px;
    font-weight: bold;
    color: #313453;
}

p {
    font-family: Comfortaa;
    font-size: 1em;
    font-weight: normal;
    color: #313453;

    text-align: justify;       
    text-justify: inter-word;
}

p::selection {
    background-color: mediumaquamarine;
    color: white;
}

header h1 {
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    color: #313453;
    letter-spacing: 4px;
}

header h2 {
    font-family: Qwigley;
    font-size: 24px;
    font-style: normal;
    color: #313453;
}

.extra-link {
    color: #313453;
    font-size: 1.1em;
    font-weight: bold;
}

/*
a:visited {
    color: #ad8c15;
}*/

.card-background {
    background-color: #d3e4e7;
}

.two-columns 
{
    column-count: 2;
}

.three-columns 
{
    column-count: 3;
}

@media only screen and (max-width : 845px) {
    .two-columns {
        column-count: 1;
    }

    .three-columns {
        column-count: 1;
    }

    .project-margin {
        display: inherit !important;
        width: 100% !important;
        padding-bottom: 10px;
    }

    .project-text {
        display: inherit !important;
        width: 100% !important;
        padding-bottom: 10px;
    }

    .project-section h1 {
        font-family: Prompt;
        font-weight: bold;
        font-size: 19.5px;
        color: #313453;
        margin-top: 0;
        padding-top: 10px;
                
        display: normal;
    }
}

.tag:not(body).is-info.is-light 
{
    background-color: #d3e4e7;
    color: #313453;
}

.alternative-card {
    background-color: #f9f7ee !important;
}

.alternative-card-contents h2
{
    font-size: 1.25em !important;
    text-transform: uppercase;
}

.alternative-card-contents p {
    font-size: 0.8em;
    margin-bottom: 10px;    
    padding-right: 40px;
}

.invisible {
    display: none;
}

main {
    width: 80%;
    padding-top: 60px;
    margin-left: 10%;
}

header {
    height: 90px;
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #257985;

    float: left;
}

.button-vertical-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-icon {
    color: #ff4447;
}

.standard-link {
    color: #ff4447;
    text-decoration: underline;
}

.second-background {
    background-color: #F9F7EF;
}

.center-text {
    text-align: center;
}

.inline-this {
    display: inline-block;
}

.passport-photo {
    display: block;
    margin: auto;
}

.full-width {
    width: 100%;
}
       
.full-height {
    height: 100%;
}

.bottom-fixer {
    margin-bottom: 20px;
}

.social-card {
    width: 300px;
}

.centered-block {
    margin-left: auto;
    margin-right: auto;
}

.tag-margin-fixer {
    margin-right: 10px;
}

#index div:nth-child(2)
{
    padding-left: 190px;
}

#index ul {
    font-family: Prompt;
    list-style-type: disc;
    color: #257985;

    margin-left: 20px;
    margin-right: 20px;
}

#index a {
    color: #ff4447;
    text-decoration: underline;
}

.project-section h1 {
    font-family: Prompt;
    font-weight: bold;
    font-size: 19.5px;
    color: #313453;

    margin-top: 0;
    padding-top: 10px;
}

.project-margin 
{
    display: table-cell;
    width: 190px;
}

.project-text 
{
    display: table-cell;
}

.project-text h2
{
    font-size: 24px;
}

.project-text ul {
    list-style: disc;
    color: #257985;
    padding-left: 60px;

    font-family: Comfortaa;
    font-size: 1em;

    margin: auto auto;
}

.project-text-condensed {
    left: -40px;
}

.project-text-condensed li {
    padding-left: 0;
    width: auto;
}

.project-text ul li span
{
    color: #313453;
}

.figcaption-extra 
{
    font-family: Comfortaa;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 20px;

    margin-left: 25%;
    margin-right: 25%;

    border-bottom-style: solid;
    border-bottom-color: #257985;
    border-bottom-width: 4px;
}

.take-all-width
{
    margin-left: -10%;
    width: 125%;
}

.figcaption-extra ul li 
{
    color:  #313453;
}

.fix-upper-margin {
    padding-top: 20px;
}

.uppercase 
{
    text-transform: uppercase;
}

.logo {
    background-color: #ff6167;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -15%;
    margin-right: -15%;
}

.logo-body {
    padding: 20px 0 20px 0;
}

.mini-hr {    
    background-color: #257985;
    
    width: 70px;
    height: 4px;

    margin-top: 20px;
    margin-bottom: 0;

    padding-top: 0px;
    padding-bottom: 0;
}

nav {
    color: #257985;
    text-align: right;
    float: right;
}

nav a {
    text-decoration: none;      
    color: inherit;
}

nav li {
    display: inline-block;
    width: 90px;            
    padding: 10px 10px;
    background-color: transparent;
    text-align: center;

    transition: 0.25s linear;
}

nav li:hover, .selected-nav-object {
    background-color: #257985;
    color: white;
}

nav li a:hover {
    color: white;
}

.center-svg-icon {
    position: relative;
    display: block;
    margin: auto;

    top: 25px;
}

.message-box {
    border-color: #257985;
    border-style: solid;
    border-width: 2px;
    padding: 25px 10px 25px 10px;
    width: 75%;
    margin-left: 12.5%;
}

@media only screen and (max-width : 845px) {
    nav {
        float: none;
        text-align: left;
    }

    header {
        width: 100%;
        text-align: center;
        height: 135px;
        margin-bottom: 30px;

        margin-left: 0;
        margin-right: 0;
    }

    header h1, header h2 {
        line-height: 0;
    }

    nav {
        text-align: center;
    }
}

.animated-hexagon:hover {
    cursor: pointer;    
    transform: translate(-4px, -4px) scale(1.09, 1.09);
    transition: 0.25s ease-in-out;
    filter: brightness(130%);
}
